
html {
  background: url(Images/Netflix_Chill_Image.PNG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.container {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 120px;
}

.title{
    position: absolute;
    right: 150px;
    left: 400px;
    top: 250px;
    width: 200px;
    height: 120px;
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}

.subtitle{
   position: absolute;
    right: 150px;
    left: 300px;
    top: 420px;
    width: 200px;
    height: 120px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}


#randomcocktail {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 400px;
    height: 150px;
    background-color: whitesmoke;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
  }
  

