
html {
  background: url(Images/Netflix_Chill_Image.PNG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.movies-container{
  position: absolute;
  top: 200;
  left: 10px;
  width: 200px;
  height: 200px;
  border: transparent;
}

.container1 {
  position: absolute;
  top: 200;
  right: -160px;
  width: 200px;
  height: 200px;
  border: transparent;
}

header{
    margin: 0 auto;
    width: 80%;
    max-width: 650px;
    position: relative;
}


h1{
  font-size: 30pt;
  margin-inline: 0;
}

h2 {
  font-size: 15pt;
  color: #000000;
}

h3{
  font-size: 30pt;
  color: black;
  
}

p {
  font-size: 15pt;
    margin: 0;
}


header{
  background: url("images/image-36.png");
  max-height: 35vh;
  background-size: cover;
  display: flex;
}
.container {
    position: absolute;
    right: 200px;
    width: 200px;
    height: 120px;
}

.title{
    position: absolute;
    right: 150px;
    left: 400px;
    top: 250px;
    width: 200px;
    height: 120px;
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}

.subtitle{
   position: absolute;
    right: 150px;
    left: 300px;
    top: 420px;
    width: 200px;
    height: 120px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}


#text-logo{
  font-family: 'Ysabeau', sans-serif;
}

#randomcocktail {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 400px;
    height: 150px;
    background-color: whitesmoke;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
  }
  

