
html {
  background: url(./Assets/Images/movie-night-ideas-1608824743.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


body{
  background: url(./movie-night-ideas-1608824743.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#logo-box{
  padding-top: 190px;
  padding-left: 40px;
}

#text-logo{
  padding-right: 100px;
}


h1{
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Vina Sans', cursive;
}

#subtitle{
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Vina Sans', cursive;
}



  
  

